body{
    height: 100%;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
}
div{
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 3px solid black;
    justify-content: space-between;
    align-items: center;

}
h1{
    color: blue;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}